In [8]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('/Users/jvonderhoff/Desktop/FantasyFootball/2024/prod_bestball_2024.db')

query = "SELECT * FROM lineups"
df = pd.read_sql(query, conn)

df

,lineup_ID,player_ID,player_name,player_postion,player_team,player_wk17,draft_round,contest_ID,contest_name,contest_entryFee,contest_site,draft_date,draft_pick,free_entry
0,7503db21-be71-4e4d-ba2b-e47bbcff570b,1109979,Ja'Marr Chase,WR,CIN,DEN,1,1,Play Action,3,Draftkings,5/2,4,0
1,7503db21-be71-4e4d-ba2b-e47bbcff570b,1074698,Nico Collins,WR,HOU,BAL,2,1,Play Action,3,Draftkings,5/2,4,0
2,7503db21-be71-4e4d-ba2b-e47bbcff570b,698227,Cooper Kupp,WR,LA,ARI,3,1,Play Action,3,Draftkings,5/2,4,0
3,7503db21-be71-4e4d-ba2b-e47bbcff570b,978579,Tee Higgins,WR,CIN,DEN,4,1,Play Action,3,Draftkings,5/2,4,0
4,7503db21-be71-4e4d-ba2b-e47bbcff570b,1135513,Dalton Kincaid,TE,BUF,NYJ,5,1,Play Action,3,Draftkings,5/2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,304ba00b-07e6-4228-b024-7b0362b539e9,1215291,Malachi Corley,WR,NYJ,BUF,14,3,The Poodle,7,Underdog,6/10,8,0
372,304ba00b-07e6-4228-b024-7b0362b539e9,1231136,Javon Baker,WR,NE,LAC,15,3,The Poodle,7,Underdog,6/10,8,0
373,304ba00b-07e6-4228-b024-7b0362b539e9,727279,Demarcus Robinson,WR,LA,ARI,16,3,The Poodle,7,Underdog,6/10,8,0
374,304ba00b-07e6-4228-b024-7b0362b539e9,835443,D'Onta Foreman,RB,CLE,MIA,17,3,The Poodle,7,Underdog,6/10,8,0
375,304ba00b-07e6-4228-b024-7b0362b539e9,1222789,Keaton Mitchell,RB,BAL,HOU,18,3,The Poodle,7,Underdog,6/10,8,0

In [9]:
data.describe()

       draft_round  contest_entryFee  draft_pick  free_entry
count   376.000000        376.000000  376.000000  376.000000
mean     10.404255          5.191489    5.409574    0.053191
std       5.728654          5.248546    2.529256    0.224714
min       1.000000          3.000000    1.000000    0.000000
25%       5.000000          3.000000    4.000000    0.000000
50%      10.000000          3.000000    6.000000    0.000000
75%      15.000000          3.000000    7.000000    0.000000
max      20.000000         20.000000   10.000000    1.000000

In [17]:
unique_lineup_ids = df['lineup_ID'].nunique()
print("Number of unique lineup_ID values:", unique_lineup_ids)

Number of unique lineup_ID values: 19

In [18]:
unique_count_per_site = df.groupby('contest_site')['lineup_ID'].nunique()
print(unique_count_per_site)

contest_site
Draftkings    17
Underdog       2
Name: lineup_ID, dtype: int64

In [19]:
unique_count_per_site_name = df.groupby(['contest_site', 'contest_name'])['lineup_ID'].nunique()
print(unique_count_per_site_name)

contest_site  contest_name
Draftkings    Best Ball Milly     2
              Play Action        15
Underdog      The Poodle          2
Name: lineup_ID, dtype: int64

In [26]:
from IPython.display import display
df['total_spent'] = df['lineup_ID'] * df['contest_entryFee']
total_spent_per_contest = df.groupby('contest_name')['contest_name'].sum()
display(total_spent_per_contest)

contest_name
Best Ball Milly    7ecab08b-04e3-4faf-8621-388459ab077e7ecab08b-0...
Play Action        7503db21-be71-4e4d-ba2b-e47bbcff570b7503db21-b...
The Poodle         00c541c0-d0f3-41fb-8d5d-04d7618bcd2300c541c0-d...
Name: total_spent, dtype: object